.jobIcon{
	cursor:pointer;
	padding:4px 4px 0 0;
	}
.disabled{display:none;}

#jqContextMenu.li{
	border: solid 1px #FEF;
}

#datalist{
	max-height:300px;
	overflow: auto;	
}
/*
.ui-widget-overlay{
	height:0!important;
	width:0!important;
}*/